#Stack overflow surveys analysis

In [2]:
import pandas as pd

In [68]:
na_vals=['NA','Missing'] #if we have such values we change them to NAN 
df = pd.read_csv('survey_results_public.csv',index_col='Respondent', na_values= na_vals)
schema_df= pd.read_csv('survey_results_schema.csv')

In [4]:
df.head()

   Respondent  ... YearsCodePro
0           1  ...           27
1           2  ...            4
2           3  ...          NaN
3           4  ...            4
4           5  ...            8

[5 rows x 61 columns]

In [5]:
df.shape

(64461, 61)

In [6]:
schema_df.shape

(61, 2)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [8]:
schema_df.head()

       Column                                       QuestionText
0  Respondent  Randomized respondent ID number (not in order ...
1  MainBranch  Which of the following options best describes ...
2    Hobbyist                            Do you code as a hobby?
3         Age  What is your age (in years)? If you prefer not...
4  Age1stCode  At what age did you write your first line of c...

In [9]:
pd.set_option('display.max_rows',61)
#in order to visualize all the rows

In [10]:
schema_df

                          Column                                       QuestionText
0                     Respondent  Randomized respondent ID number (not in order ...
1                     MainBranch  Which of the following options best describes ...
2                       Hobbyist                            Do you code as a hobby?
3                            Age  What is your age (in years)? If you prefer not...
4                     Age1stCode  At what age did you write your first line of c...
5                       CompFreq   Is that compensation weekly, monthly, or yearly?
6                      CompTotal  What is your current total compensation (salar...
7                  ConvertedComp  Salary converted to annual USD salaries using ...
8                        Country                                 Where do you live?
9                   CurrencyDesc  Which currency do you use day-to-day? If your ...
10                CurrencySymbol  Which currency do you use day-to-day? If your ...
11        DatabaseDesireNextYear  Which database environments have you done exte...
12            DatabaseWorkedWith  Which database environments have you done exte...
13                       DevType  Which of the following describe you? Please se...
14                       EdLevel  Which of the following best describes the high...
15                    Employment  Which of the following best describes your cur...
16                     Ethnicity  Which of the following describe you, if any? P...
17                        Gender  Which of the following describe you, if any? P...
18                    JobFactors  Imagine that you are deciding between two job ...
19                        JobSat  How satisfied are you with your current job? (...
20                       JobSeek  Which of the following best describes your cur...
21        LanguageDesireNextYear  Which programming, scripting, and markup langu...
22            LanguageWorkedWith  Which programming, scripting, and markup langu...
23        MiscTechDesireNextYear  Which other frameworks, libraries, and tools h...
24            MiscTechWorkedWith  Which other frameworks, libraries, and tools h...
25  NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
26      NEWCollabToolsWorkedWith  Which collaboration tools have you done extens...
27                     NEWDevOps  Does your company have a dedicated DevOps person?
28                 NEWDevOpsImpt  How important is the practice of DevOps to sca...
29                     NEWEdImpt  How important is a formal education, such as a...
30                    NEWJobHunt  In general, what drives you to look for a new ...
31            NEWJobHuntResearch  When job searching, how do you learn more abou...
32                      NEWLearn  How frequently do you learn a new language or ...
33                   NEWOffTopic  Do you think Stack Overflow should relax restr...
34                NEWOnboardGood  Do you think your company has a good onboardin...
35                 NEWOtherComms  Are you a member of any other online developer...
36                   NEWOvertime  How often do you work overtime or beyond the f...
37           NEWPurchaseResearch  When buying a new tool or software, how do you...
38                 NEWPurpleLink  You search for a coding solution online and th...
39                    NEWSOSites  Which of the following Stack Overflow sites ha...
40                      NEWStuck  What do you do when you get stuck on a problem...
41                         OpSys  What is the primary operating system in which ...
42                       OrgSize  Approximately how many people are employed by ...
43        PlatformDesireNextYear  Which platforms have you done extensive develo...
44            PlatformWorkedWith  Which platforms have you done extensive develo...
45                  PurchaseWhat  What level of influence do you, personally, ha...
46                     Sexuality  Which of the following describe you, if any? P...
47                     SOAccount              Do you have a Stack Overflow account?
48                        SOComm  Do you consider yourself a member of the Stack...
49                    SOPartFreq  How frequently would you say you participate i...
50                   SOVisitFreq  How frequently would you say you visit Stack O...
51                    SurveyEase  How easy or difficult was this survey to compl...
52                  SurveyLength  How do you feel about the length of the survey...
53                         Trans                               Are you transgender?
54                UndergradMajor              What was your primary field of study?
55        WebframeDesireNextYear  Which web frameworks have you done extensive d...
56            WebframeWorkedWith  Which web frameworks have you done extensive d...
57                 WelcomeChange  Compared to last year, how welcome do you feel...
58                   WorkWeekHrs  On average, how many hours per week do you wor...
59                     YearsCode  Including any education, how many years have y...
60                  YearsCodePro  NOT including education, how many years have y...

In [11]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [12]:
df.loc[0]
#the answers of the first person

Respondent                                                                      1
MainBranch                                         I am a developer by profession
Hobbyist                                                                      Yes
Age                                                                           NaN
Age1stCode                                                                     13
CompFreq                                                                  Monthly
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                                   Germany
CurrencyDesc                                                        European Euro
CurrencySymbol                                                                EUR
DatabaseDesireNextYear                                       Microsoft SQL Server
DatabaseWorkedWith                      Elasticsearch;Microsoft SQL Server;Oracle
DevType                         Developer, desktop or enterprise applications;...
EdLevel                           Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
Employment                      Independent contractor, freelancer, or self-em...
Ethnicity                                            White or of European descent
Gender                                                                        Man
JobFactors                      Languages, frameworks, and other technologies ...
JobSat                                                         Slightly satisfied
JobSeek                              I am not interested in new job opportunities
LanguageDesireNextYear                                     C#;HTML/CSS;JavaScript
LanguageWorkedWith                                         C#;HTML/CSS;JavaScript
MiscTechDesireNextYear                                          .NET Core;Xamarin
MiscTechWorkedWith                                                 .NET;.NET Core
NEWCollabToolsDesireNextYear               Microsoft Teams;Microsoft Azure;Trello
NEWCollabToolsWorkedWith             Confluence;Jira;Slack;Microsoft Azure;Trello
NEWDevOps                                                                      No
NEWDevOpsImpt                                                  Somewhat important
NEWEdImpt                                                        Fairly important
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                              Once a year
NEWOffTopic                                                              Not sure
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                  No
NEWOvertime                                      Often: 1-2 days per week or more
NEWPurchaseResearch             Start a free trial;Ask developers I know/work ...
NEWPurpleLink                                                              Amused
NEWSOSites                       Stack Overflow (public Q&A for anyone who codes)
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
OpSys                                                                     Windows
OrgSize                                                          2 to 9 employees
PlatformDesireNextYear             Android;iOS;Kubernetes;Microsoft Azure;Windows
PlatformWorkedWith                                                        Windows
PurchaseWhat                                                                  NaN
Sexuality                                                 Straight / Heterosexual
SOAccount                                                                      No
SOComm                                                             No, not at all
SOPartFreq                                                                    NaN
SOVisitFreq                                                Multiple times per day
SurveyEase                                             Neither easy nor difficult
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear                                               ASP.NET Core
WebframeWorkedWith                                           ASP.NET;ASP.NET Core
WelcomeChange                             Just as welcome now as I felt last year
WorkWeekHrs                                                                    50
YearsCode                                                                      36
YearsCodePro                                                                   27
Name: 0, dtype: object

In [13]:
df.iloc[0]
#accessing the row of index 0

Respondent                                                                      1
MainBranch                                         I am a developer by profession
Hobbyist                                                                      Yes
Age                                                                           NaN
Age1stCode                                                                     13
CompFreq                                                                  Monthly
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                                   Germany
CurrencyDesc                                                        European Euro
CurrencySymbol                                                                EUR
DatabaseDesireNextYear                                       Microsoft SQL Server
DatabaseWorkedWith                      Elasticsearch;Microsoft SQL Server;Oracle
DevType                         Developer, desktop or enterprise applications;...
EdLevel                           Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
Employment                      Independent contractor, freelancer, or self-em...
Ethnicity                                            White or of European descent
Gender                                                                        Man
JobFactors                      Languages, frameworks, and other technologies ...
JobSat                                                         Slightly satisfied
JobSeek                              I am not interested in new job opportunities
LanguageDesireNextYear                                     C#;HTML/CSS;JavaScript
LanguageWorkedWith                                         C#;HTML/CSS;JavaScript
MiscTechDesireNextYear                                          .NET Core;Xamarin
MiscTechWorkedWith                                                 .NET;.NET Core
NEWCollabToolsDesireNextYear               Microsoft Teams;Microsoft Azure;Trello
NEWCollabToolsWorkedWith             Confluence;Jira;Slack;Microsoft Azure;Trello
NEWDevOps                                                                      No
NEWDevOpsImpt                                                  Somewhat important
NEWEdImpt                                                        Fairly important
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                              Once a year
NEWOffTopic                                                              Not sure
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                  No
NEWOvertime                                      Often: 1-2 days per week or more
NEWPurchaseResearch             Start a free trial;Ask developers I know/work ...
NEWPurpleLink                                                              Amused
NEWSOSites                       Stack Overflow (public Q&A for anyone who codes)
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
OpSys                                                                     Windows
OrgSize                                                          2 to 9 employees
PlatformDesireNextYear             Android;iOS;Kubernetes;Microsoft Azure;Windows
PlatformWorkedWith                                                        Windows
PurchaseWhat                                                                  NaN
Sexuality                                                 Straight / Heterosexual
SOAccount                                                                      No
SOComm                                                             No, not at all
SOPartFreq                                                                    NaN
SOVisitFreq                                                Multiple times per day
SurveyEase                                             Neither easy nor difficult
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear                                               ASP.NET Core
WebframeWorkedWith                                           ASP.NET;ASP.NET Core
WelcomeChange                             Just as welcome now as I felt last year
WorkWeekHrs                                                                    50
YearsCode                                                                      36
YearsCodePro                                                                   27
Name: 0, dtype: object

In [14]:
df.iloc[[0,1],2]
#the second column of the first and the second row
#df.loc[0]
#give us the first row

0    Yes
1     No
Name: Hobbyist, dtype: object

In [15]:
df.loc[[20,22],'Hobbyist']

20    Yes
22    Yes
Name: Hobbyist, dtype: object

In [16]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [17]:
df['Gender'].value_counts()

Man                                                            46013
Woman                                                           3844
Non-binary, genderqueer, or gender non-conforming                385
Man;Non-binary, genderqueer, or gender non-conforming            121
Woman;Non-binary, genderqueer, or gender non-conforming           92
Woman;Man                                                         76
Woman;Man;Non-binary, genderqueer, or gender non-conforming       26
Name: Gender, dtype: int64

In [18]:
df.loc[20:22,'Hobbyist':'Gender']

   Hobbyist   Age  ...                     Ethnicity Gender
20      Yes  23.0  ...  White or of European descent    Man
21      Yes   NaN  ...                           NaN    Man
22      Yes  27.0  ...  White or of European descent    Man

[3 rows x 16 columns]

In [19]:
df['Respondent'].value_counts()
#so we confirm we can use it as an index beacuse it is unique id

2047     1
49805    1
31386    1
25241    1
27288    1
        ..
15725    1
13676    1
3435     1
1386     1
2049     1
Name: Respondent, Length: 64461, dtype: int64

In [20]:
df.set_index('Respondent')

                                                   MainBranch  ...      YearsCodePro
Respondent                                                     ...
1                              I am a developer by profession  ...                27
2                              I am a developer by profession  ...                 4
3                                 I code primarily as a hobby  ...               NaN
4                              I am a developer by profession  ...                 4
5           I used to be a developer by profession, but no...  ...                 8
...                                                       ...  ...               ...
64858                                                     NaN  ...  Less than 1 year
64867                                                     NaN  ...               NaN
64898                                                     NaN  ...               NaN
64925                                                     NaN  ...               NaN
65112                                                     NaN  ...               NaN

[64461 rows x 60 columns]

In [21]:
#in order to facilitate the search of the corresponding qustion, we will set the column :'columns' in the data frame schema_df as indexes
schema_df.set_index('Column')

                                                                   QuestionText
Column
Respondent                    Randomized respondent ID number (not in order ...
MainBranch                    Which of the following options best describes ...
Hobbyist                                                Do you code as a hobby?
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Sexuality                     Which of the following describe you, if any? P...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

In [22]:
#create the filter 
high_salary =(df['ConvertedComp']>70000)

In [23]:
#apply the filter 
df.loc[high_salary,['Country','LanguageWorkedWith','ConvertedComp']]

              Country  ... ConvertedComp
7       United States  ...      116000.0
15     United Kingdom  ...      108576.0
16      United States  ...       79000.0
17      United States  ...     1260000.0
18      United States  ...       83400.0
...               ...  ...           ...
64113   United States  ...      225000.0
64116   United States  ...      150000.0
64127   United States  ...      140000.0
64129   United States  ...      150000.0
64141         Germany  ...      129718.0

[13178 rows x 3 columns]

In [24]:
countries=['United States','India','United Kingdom','Germany','Canada']
filt= df['Country'].isin(countries)

In [25]:
df.loc[filt,['Country','ConvertedComp']]

              Country  ConvertedComp
0             Germany            NaN
1      United Kingdom            NaN
4       United States            NaN
5             Germany            NaN
6               India            NaN
...               ...            ...
64441          Canada            NaN
64442           India            NaN
64443   United States            NaN
64452           India            NaN
64456   United States            NaN

[30849 rows x 2 columns]

In [26]:
df.loc[filt,['Country','LanguageWorkedWith']]

              Country                       LanguageWorkedWith
0             Germany                   C#;HTML/CSS;JavaScript
1      United Kingdom                         JavaScript;Swift
4       United States                        HTML/CSS;Ruby;SQL
5             Germany                 HTML/CSS;Java;JavaScript
6               India                          C#;HTML/CSS;PHP
...               ...                                      ...
64441          Canada                            C;C#;C++;Java
64442           India                                      SQL
64443   United States  C++;HTML/CSS;Java;JavaScript;Python;SQL
64452           India                                      NaN
64456   United States                                      NaN

[30849 rows x 2 columns]

In [27]:
filt= df['LanguageWorkedWith'].str.contains('Python', na=False)

In [28]:
df.loc[filt,['LanguageWorkedWith']]

                                      LanguageWorkedWith
2                               Objective-C;Python;Swift
7                                             Python;SQL
9                    HTML/CSS;Java;JavaScript;Python;SQL
12                                   C;JavaScript;Python
14      Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL
...                                                  ...
64433  Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...
64438     C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript
64443            C++;HTML/CSS;Java;JavaScript;Python;SQL
64446  Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
64457  Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...

[25287 rows x 1 columns]

In [29]:
#renaming the column ConvertedComp to a clearer name
df.rename(columns={'ConvertedComp':'SalaryUSD'}, inplace=True)

In [30]:
df.head()

   Respondent  ... YearsCodePro
0           1  ...           27
1           2  ...            4
2           3  ...          NaN
3           4  ...            4
4           5  ...            8

[5 rows x 61 columns]

In [31]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3        Yes
4        Yes
        ...
64456    Yes
64457    Yes
64458    Yes
64459    Yes
64460    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [32]:
df['Hobbyist']=df['Hobbyist'].map({'Yes':True,'No':False})

In [33]:
df.head()

   Respondent  ... YearsCodePro
0           1  ...           27
1           2  ...            4
2           3  ...          NaN
3           4  ...            4
4           5  ...            8

[5 rows x 61 columns]

In [34]:
# sorting surveys results by country 
df.sort_values(by=['Country','SalaryUSD'],ascending=[True,False],inplace= True)

In [35]:
df[['Country','SalaryUSD']].head(50)

           Country  SalaryUSD
61540  Afghanistan  1000000.0
63925  Afghanistan  1000000.0
63993  Afghanistan  1000000.0
38261  Afghanistan   231192.0
28270  Afghanistan   130000.0
9806   Afghanistan    23328.0
62520  Afghanistan    23328.0
50812  Afghanistan    20950.0
50469  Afghanistan    20220.0
43642  Afghanistan    18660.0
15371  Afghanistan    18000.0
2918   Afghanistan    16335.0
26443  Afghanistan    13992.0
56146  Afghanistan    10884.0
26676  Afghanistan     8016.0
30451  Afghanistan     5448.0
30405  Afghanistan     4668.0
28704  Afghanistan     4509.0
34842  Afghanistan     4356.0
26758  Afghanistan     2328.0
33755  Afghanistan     1860.0
35602  Afghanistan      780.0
17985  Afghanistan      109.0
35168  Afghanistan        0.0
895    Afghanistan        NaN
5948   Afghanistan        NaN
7586   Afghanistan        NaN
7678   Afghanistan        NaN
8599   Afghanistan        NaN
8824   Afghanistan        NaN
9454   Afghanistan        NaN
9585   Afghanistan        NaN
10317  Afghanistan        NaN
23708  Afghanistan        NaN
24124  Afghanistan        NaN
24908  Afghanistan        NaN
26477  Afghanistan        NaN
26496  Afghanistan        NaN
26525  Afghanistan        NaN
29781  Afghanistan        NaN
30491  Afghanistan        NaN
31199  Afghanistan        NaN
35052  Afghanistan        NaN
35511  Afghanistan        NaN
35541  Afghanistan        NaN
36354  Afghanistan        NaN
36887  Afghanistan        NaN
37284  Afghanistan        NaN
37371  Afghanistan        NaN
37601  Afghanistan        NaN

In [36]:
df[['Country','SalaryUSD']].tail(50)

      Country  SalaryUSD
64206     NaN        NaN
64207     NaN        NaN
64210     NaN        NaN
64214     NaN        NaN
64233     NaN        NaN
64235     NaN        NaN
64245     NaN        NaN
64250     NaN        NaN
64251     NaN        NaN
64256     NaN        NaN
64257     NaN        NaN
64258     NaN        NaN
64259     NaN        NaN
64262     NaN        NaN
64263     NaN        NaN
64265     NaN        NaN
64268     NaN        NaN
64281     NaN        NaN
64282     NaN        NaN
64283     NaN        NaN
64287     NaN        NaN
64290     NaN        NaN
64293     NaN        NaN
64299     NaN        NaN
64320     NaN        NaN
64327     NaN        NaN
64328     NaN        NaN
64335     NaN        NaN
64339     NaN        NaN
64349     NaN        NaN
64351     NaN        NaN
64363     NaN        NaN
64375     NaN        NaN
64378     NaN        NaN
64384     NaN        NaN
64389     NaN        NaN
64390     NaN        NaN
64393     NaN        NaN
64394     NaN        NaN
64397     NaN        NaN
64399     NaN        NaN
64403     NaN        NaN
64409     NaN        NaN
64418     NaN        NaN
64424     NaN        NaN
64425     NaN        NaN
64431     NaN        NaN
64434     NaN        NaN
64436     NaN        NaN
64440     NaN        NaN

In [37]:
#get the 10 largest salaries 
df['SalaryUSD'].nlargest(10)

5701     2000000.0
53175    2000000.0
42657    2000000.0
58136    2000000.0
45753    2000000.0
121      2000000.0
123      2000000.0
191      2000000.0
663      2000000.0
697      2000000.0
Name: SalaryUSD, dtype: float64

In [38]:
df.nlargest(10,'SalaryUSD')

       Respondent  ...        YearsCodePro
5701         5725  ...                   4
53175       54263  ...                   5
42657       43430  ...                   2
58136       59279  ...                  14
45753       46711  ...  More than 50 years
121           123  ...                   3
123           125  ...                  11
191           193  ...                   7
663           665  ...    Less than 1 year
697           699  ...                   2

[10 rows x 61 columns]

In [39]:
df.nsmallest(500,'SalaryUSD')

       Respondent                      MainBranch  ... YearsCode      YearsCodePro
35168       35295  I am a developer by profession  ...        35                27
46385       47357  I am a developer by profession  ...         2                11
6029         6054  I am a developer by profession  ...        22                20
27035       27135  I am a developer by profession  ...        15                15
59118       60292  I am a developer by profession  ...        18                10
...           ...                             ...  ...       ...               ...
12119       12158  I am a developer by profession  ...         2                 1
13015       13055  I am a developer by profession  ...         4  Less than 1 year
26871       26970  I am a developer by profession  ...         3  Less than 1 year
27044       27144  I am a developer by profession  ...         5  Less than 1 year
28975       29084  I am a developer by profession  ...         5                 2

[500 rows x 61 columns]

#Grouping and Aggregating

agrgregation: combining multiple pieces of data into a single result

mean,median, mode are aggregate operations

In [40]:
df['SalaryUSD'].head(15)

61540    1000000.0
63925    1000000.0
63993    1000000.0
38261     231192.0
28270     130000.0
9806       23328.0
62520      23328.0
50812      20950.0
50469      20220.0
43642      18660.0
15371      18000.0
2918       16335.0
26443      13992.0
56146      10884.0
26676       8016.0
Name: SalaryUSD, dtype: float64

In [41]:
df['SalaryUSD'].median()

54049.0

In [42]:
df.median()

Respondent     32231.0
Hobbyist           1.0
Age               29.0
CompTotal      63000.0
SalaryUSD      54049.0
WorkWeekHrs       40.0
dtype: float64

In [43]:
df.describe()

         Respondent           Age      CompTotal     SalaryUSD   WorkWeekHrs
count  64461.000000  45446.000000   3.482600e+04  3.475600e+04  41151.000000
mean   32554.079738     30.834111  3.190464e+242  1.037561e+05     40.782174
std    18967.442360      9.585392            inf  2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00  0.000000e+00      1.000000
25%    16116.000000     24.000000   2.000000e+04  2.464800e+04     40.000000
50%    32231.000000     29.000000   6.300000e+04  5.404900e+04     40.000000
75%    49142.000000     35.000000   1.250000e+05  9.500000e+04     44.000000
max    65639.000000    279.000000  1.111111e+247  2.000000e+06    475.000000

In [44]:
#the mean is affected heavily by outliers

In [45]:
df['SalaryUSD'].count()

34756

In [46]:
df['Hobbyist'].value_counts(normalize=True)

True     0.782228
False    0.217772
Name: Hobbyist, dtype: float64

In [47]:
df['Country'].value_counts()

United States     12469
India              8403
United Kingdom     3896
Germany            3890
Canada             2191
                  ...
Lesotho               1
Chad                  1
Kiribati              1
Saint Lucia           1
Liechtenstein         1
Name: Country, Length: 183, dtype: int64

In [48]:
country_grp = df.groupby(['Country'])

In [49]:
country_grp.get_group('India')

       Respondent  ...      YearsCodePro
37333       37655  ...                10
36726       36976  ...                10
3318         3332  ...                 3
8425         8457  ...  Less than 1 year
21268       21351  ...                 6
...           ...  ...               ...
64391       54757  ...  Less than 1 year
64398       55407  ...               NaN
64439       62464  ...               NaN
64442       62954  ...               NaN
64452       64236  ...               NaN

[8403 rows x 61 columns]

In [50]:
filt = df['Country']== 'India'
df.loc[filt]['SalaryUSD'].value_counts()

5028.0      66
16754.0     62
8377.0      55
8376.0      55
2508.0      53
            ..
256332.0     1
8524.0       1
42583.0      1
21292.0      1
419.0        1
Name: SalaryUSD, Length: 620, dtype: int64

In [51]:
country_grp['SalaryUSD'].value_counts().head(50)

Country      SalaryUSD
Afghanistan  1000000.0    3
             23328.0      2
             0.0          1
             109.0        1
             780.0        1
             1860.0       1
             2328.0       1
             4356.0       1
             4509.0       1
             4668.0       1
             5448.0       1
             8016.0       1
             10884.0      1
             13992.0      1
             16335.0      1
             18000.0      1
             18660.0      1
             20220.0      1
             20950.0      1
             130000.0     1
             231192.0     1
Albania      15900.0      3
             25944.0      2
             31788.0      2
             0.0          1
             2124.0       1
             4344.0       1
             5832.0       1
             10596.0      1
             10812.0      1
             12972.0      1
             13776.0      1
             16860.0      1
             21192.0      1
             23316.0      1
             32652.0      1
             194580.0     1
Algeria      3480.0       2
             300.0        1
             993.0        1
             3972.0       1
             5952.0       1
             7944.0       1
             8940.0       1
             9924.0       1
             10000.0      1
             11916.0      1
             12912.0      1
             14400.0      1
             14892.0      1
Name: SalaryUSD, dtype: int64

In [52]:
country_grp['SalaryUSD'].value_counts().loc['India']

SalaryUSD
5028.0       66
16754.0      62
8376.0       55
8377.0       55
2508.0       53
             ..
686916.0      1
698086.0      1
871212.0      1
1600000.0     1
1800000.0     1
Name: SalaryUSD, Length: 620, dtype: int64

In [53]:
country_grp['SalaryUSD'].median().loc['Germany']

62697.0

In [54]:
country_grp['SalaryUSD'].agg(['median','mean']).loc['Canada']

median     68068.000000
mean      115101.775465
Name: Canada, dtype: float64

In [55]:
filt = df['Country']== 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

2670

In [56]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [57]:
country_respondents= df['Country'].value_counts()
country_respondents
#this is the total people from each country who responded to the survey

United States     12469
India              8403
United Kingdom     3896
Germany            3890
Canada             2191
                  ...
Lesotho               1
Chad                  1
Kiribati              1
Saint Lucia           1
Liechtenstein         1
Name: Country, Length: 183, dtype: int64

In [58]:
country_uses_python =country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python
#this is the number of people from each country who said that that they use python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [59]:
python_df = pd.concat([country_respondents,country_uses_python], axis='columns',sort=False) 
python_df

                Country  LanguageWorkedWith
United States     12469                5964
India              8403                2670
United Kingdom     3896                1621
Germany            3890                1712
Canada             2191                1011
...                 ...                 ...
Lesotho               1                   0
Chad                  1                   0
Kiribati              1                   0
Saint Lucia           1                   1
Liechtenstein         1                   0

[183 rows x 2 columns]

In [60]:
python_df.rename(columns={'Country':'NumRespondents','LanguageWorkedWith':'NumKnowsPython'},inplace=True)

In [61]:
python_df

                NumRespondents  NumKnowsPython
United States            12469            5964
India                     8403            2670
United Kingdom            3896            1621
Germany                   3890            1712
Canada                    2191            1011
...                        ...             ...
Lesotho                      1               0
Chad                         1               0
Kiribati                     1               0
Saint Lucia                  1               1
Liechtenstein                1               0

[183 rows x 2 columns]

In [62]:
python_df['PctKnowsPython']= (python_df['NumKnowsPython']/python_df['NumRespondents'])*100
python_df

                NumRespondents  NumKnowsPython  PctKnowsPython
United States            12469            5964       47.830620
India                     8403            2670       31.774366
United Kingdom            3896            1621       41.606776
Germany                   3890            1712       44.010283
Canada                    2191            1011       46.143314
...                        ...             ...             ...
Lesotho                      1               0        0.000000
Chad                         1               0        0.000000
Kiribati                     1               0        0.000000
Saint Lucia                  1               1      100.000000
Liechtenstein                1               0        0.000000

[183 rows x 3 columns]

In [63]:
python_df.sort_values(by='PctKnowsPython',ascending=False)

                                    NumRespondents  ...  PctKnowsPython
Gabon                                            1  ...      100.000000
Saint Lucia                                      1  ...      100.000000
Micronesia, Federated States of...               1  ...      100.000000
Montenegro                                      13  ...       69.230769
Brunei Darussalam                                3  ...       66.666667
...                                            ...  ...             ...
Djibouti                                         2  ...        0.000000
Gambia                                           4  ...        0.000000
Monaco                                           2  ...        0.000000
Cape Verde                                       2  ...        0.000000
Liechtenstein                                    1  ...        0.000000

[183 rows x 3 columns]

In [64]:
python_df.head(50)

                    NumRespondents  NumKnowsPython  PctKnowsPython
United States                12469            5964       47.830620
India                         8403            2670       31.774366
United Kingdom                3896            1621       41.606776
Germany                       3890            1712       44.010283
Canada                        2191            1011       46.143314
France                        1898             833       43.888303
Brazil                        1818             635       34.928493
Netherlands                   1343             544       40.506329
Poland                        1278             509       39.827856
Australia                     1208             524       43.377483
Spain                         1161             448       38.587425
Italy                         1117             422       37.779767
Russian Federation            1092             421       38.553114
Sweden                         886             353       39.841986
Pakistan                       809             246       30.407911
Turkey                         777             269       34.620335
Israel                         653             307       47.013783
Switzerland                    629             278       44.197138
Bangladesh                     609             179       29.392447
Romania                        604             196       32.450331
Nigeria                        593             192       32.377740
Mexico                         540             179       33.148148
Ukraine                        539             158       29.313544
Austria                        539             205       38.033395
Czech Republic                 500             195       39.000000
Indonesia                      499             142       28.456914
South Africa                   494             158       31.983806
Iran                           491             176       35.845214
Belgium                        459             173       37.690632
Ireland                        444             199       44.819820
Philippines                    405             124       30.617284
Denmark                        397             144       36.272040
Argentina                      395             134       33.924051
Greece                         390             149       38.205128
Portugal                       388             147       37.886598
Norway                         384             160       41.666667
Hungary                        371             138       37.196765
China                          371             158       42.587601
Viet Nam                       364             102       28.021978
New Zealand                    353             147       41.643059
Finland                        349             183       52.435530
Bulgaria                       323              89       27.554180
Serbia                         306              93       30.392157
Japan                          297             132       44.444444
Sri Lanka                      295             109       36.949153
Colombia                       285             100       35.087719
Egypt                          281              79       28.113879
Kenya                          271             111       40.959410
Nepal                          242              89       36.776860
Malaysia                       231              73       31.601732

In [65]:
python_df.loc['Japan']

NumRespondents    297.000000
NumKnowsPython    132.000000
PctKnowsPython     44.444444
Name: Japan, dtype: float64

#Data cleaning

In [74]:
df['YearsCode'].unique()

array(['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19',
       '9', '22', '30', '23', '20', '2', 'Less than 1 year', '3', '13',
       '25', '16', '43', '11', '38', '33', nan, '24', '21', '12', '40',
       '27', '50', '46', '14', '18', '28', '32', '44', '26', '42', '31',
       '34', '29', '1', '39', '41', '45', 'More than 50 years', '47',
       '49', '48'], dtype=object)

In [75]:
df['YearsCode'].replace('Less than 1 year',0,inplace=True)

In [77]:
df['YearsCode'].replace('More than 50 years',51,inplace=True)

In [78]:
df['YearsCode'].unique()

array(['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19',
       '9', '22', '30', '23', '20', '2', 0, '3', '13', '25', '16', '43',
       '11', '38', '33', nan, '24', '21', '12', '40', '27', '50', '46',
       '14', '18', '28', '32', '44', '26', '42', '31', '34', '29', '1',
       '39', '41', '45', 51, '47', '49', '48'], dtype=object)

In [83]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [84]:
df['YearsCode'].mean()

12.709052770265584

In [85]:
df['YearsCode'].median()

10.0

the average of coding experience is 12 years while the median is 9 years.